# Missing Values

In [1]:
# *-* coding: utf-8 -*-
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

datacsv = pd.read_csv("missingvalue.csv")

#size = datacsv['boy']
datacsv

   ulke  boy  kilo   yas cinsiyet
0    tr  130    30  10.0        e
1    tr  125    36  11.0        e
2    tr  135    34  10.0        k
3    tr  133    30   9.0        k
4    tr  129    38  12.0        e
5    tr  180    90  30.0        e
6    tr  190    80  25.0        e
7    tr  175    90  35.0        e
8    tr  177    60  22.0        k
9    us  185   105  33.0        e
10   us  165    55  27.0        k
11   us  155    50  44.0        k
12   us  160    58   NaN        k
13   us  162    59  41.0        k
14   us  167    62  55.0        k
15   fr  174    70  47.0        e
16   fr  193    90   NaN        e
17   fr  187    80  27.0        e
18   fr  183    88  28.0        e
19   fr  159    40  29.0        k
20   fr  164    66  32.0        k
21   fr  166    56  42.0        k

In [2]:
#Missing Values

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

Age = datacsv.iloc[:,1:4].values
imputer = imputer.fit(Age[:,1:4])
Age[:,1:4] = imputer.transform(Age[:,1:4])

# Categorical Data

In [3]:
country = datacsv.iloc[:, 0:1].values
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

## In this here created categorical data to country values

In [4]:
country[:,0] = le.fit_transform(datacsv.iloc[:,0])

In [5]:
ohe = preprocessing.OneHotEncoder()
country = ohe.fit_transform(country).toarray()
resultCountry = pd.DataFrame(data=country, index=range(22), columns=['fr','tr','us'])

## Create Data Frame Values by ages and Gender

In [27]:
ResultPerson = pd.DataFrame(data=Age, index=range(22), columns = ['boy', 'kilo', 'yas'])
Gender = datacsv.iloc[:,-1].values
ResultGender = pd.DataFrame(data=Gender, index=range(22), columns = ['cinsiyet'])

## Combine Data Frames (Country, Person)

In [33]:
ResultC1 = pd.concat([resultCountry,ResultPerson], axis=1)
ResultC1

     fr   tr   us    boy   kilo    yas
0   0.0  1.0  0.0  130.0   30.0  10.00
1   0.0  1.0  0.0  125.0   36.0  11.00
2   0.0  1.0  0.0  135.0   34.0  10.00
3   0.0  1.0  0.0  133.0   30.0   9.00
4   0.0  1.0  0.0  129.0   38.0  12.00
5   0.0  1.0  0.0  180.0   90.0  30.00
6   0.0  1.0  0.0  190.0   80.0  25.00
7   0.0  1.0  0.0  175.0   90.0  35.00
8   0.0  1.0  0.0  177.0   60.0  22.00
9   0.0  0.0  1.0  185.0  105.0  33.00
10  0.0  0.0  1.0  165.0   55.0  27.00
11  0.0  0.0  1.0  155.0   50.0  44.00
12  0.0  0.0  1.0  160.0   58.0  28.45
13  0.0  0.0  1.0  162.0   59.0  41.00
14  0.0  0.0  1.0  167.0   62.0  55.00
15  1.0  0.0  0.0  174.0   70.0  47.00
16  1.0  0.0  0.0  193.0   90.0  28.45
17  1.0  0.0  0.0  187.0   80.0  27.00
18  1.0  0.0  0.0  183.0   88.0  28.00
19  1.0  0.0  0.0  159.0   40.0  29.00
20  1.0  0.0  0.0  164.0   66.0  32.00
21  1.0  0.0  0.0  166.0   56.0  42.00

## Combine All DataFrames(Country, Person, Gender)

In [34]:
ResultAll = pd.concat([ResultC1, ResultGender], axis=1)

In [35]:
ResultAll

     fr   tr   us    boy   kilo    yas cinsiyet
0   0.0  1.0  0.0  130.0   30.0  10.00        e
1   0.0  1.0  0.0  125.0   36.0  11.00        e
2   0.0  1.0  0.0  135.0   34.0  10.00        k
3   0.0  1.0  0.0  133.0   30.0   9.00        k
4   0.0  1.0  0.0  129.0   38.0  12.00        e
5   0.0  1.0  0.0  180.0   90.0  30.00        e
6   0.0  1.0  0.0  190.0   80.0  25.00        e
7   0.0  1.0  0.0  175.0   90.0  35.00        e
8   0.0  1.0  0.0  177.0   60.0  22.00        k
9   0.0  0.0  1.0  185.0  105.0  33.00        e
10  0.0  0.0  1.0  165.0   55.0  27.00        k
11  0.0  0.0  1.0  155.0   50.0  44.00        k
12  0.0  0.0  1.0  160.0   58.0  28.45        k
13  0.0  0.0  1.0  162.0   59.0  41.00        k
14  0.0  0.0  1.0  167.0   62.0  55.00        k
15  1.0  0.0  0.0  174.0   70.0  47.00        e
16  1.0  0.0  0.0  193.0   90.0  28.45        e
17  1.0  0.0  0.0  187.0   80.0  27.00        e
18  1.0  0.0  0.0  183.0   88.0  28.00        e
19  1.0  0.0  0.0  159.0   40.0  29.00        k
20  1.0  0.0  0.0  164.0   66.0  32.00        k
21  1.0  0.0  0.0  166.0   56.0  42.00        k

# Test and Train with dependent(Country) and undependant(Gender)

In [54]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(ResultC1, ResultAll, test_size=0.33, random_state=0)

# Feature Scaling

In [44]:
from sklearn.preprocessing import StandardScaler

# create standard scaler object
sc = StandardScaler()
# return x_train values on fit_transform function for feature scaling 
X_train = sc.fit_transform(x_train)
X_test = sc.fit_transform(x_test)

In [50]:
print(X_train)
print('')
print(X_test)

[[-0.63245553  0.8660254  -0.40824829  0.45049444 -0.29657884 -0.24717129]
 [-0.63245553  0.8660254  -0.40824829  1.00824945  0.5096549   0.03416189]
 [ 1.58113883 -1.15470054 -0.40824829  1.13696215  0.91277178  0.35769504]
 [-0.63245553  0.8660254  -0.40824829 -1.6089087  -1.18343596 -1.18494855]
 [-0.63245553  0.8660254  -0.40824829 -1.35148331 -1.34468271 -1.372504  ]
 [-0.63245553  0.8660254  -0.40824829  0.57920713  0.91277178  0.50305051]
 [ 1.58113883 -1.15470054 -0.40824829  0.87953676  0.5096549   0.22171734]
 [-0.63245553 -1.15470054  2.44948974  0.79372829  1.51744708  0.78438369]
 [-0.63245553  0.8660254  -0.40824829  0.36468597  0.91277178  0.97193914]
 [ 1.58113883 -1.15470054 -0.40824829  0.70791983  0.8321484   0.31549506]
 [-0.63245553  0.8660254  -0.40824829 -1.43729177 -1.50592946 -1.46628173]
 [-0.63245553  0.8660254  -0.40824829 -1.56600447 -1.50592946 -1.372504  ]
 [ 1.58113883 -1.15470054 -0.40824829  0.32178174  0.10653803  2.09727185]
 [-0.63245553 -1.15470054  2.44948974 -0.27887751 -0.37720222  0.35769504]]

[[ 1.29099445 -0.37796447 -1.          0.47240026  1.32853794 -0.24991255]
 [-0.77459667 -0.37796447  1.          0.54952683  0.20439045 -0.64977262]
 [-0.77459667 -0.37796447  1.          0.70377998  0.91975703  1.58944379]
 [-0.77459667 -0.37796447  1.          0.31814711  0.61317136  0.46983559]
 [-0.77459667  2.64575131 -1.         -2.53553608 -1.73731884 -1.92932485]
 [ 1.29099445 -0.37796447 -1.          0.6266534   0.30658568  0.5498076 ]
 [-0.77459667 -0.37796447  1.         -0.2217389  -0.30658568  0.70975163]
 [ 1.29099445 -0.37796447 -1.          0.08676739 -1.32853794 -0.48982859]]